@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Michroma&family=Outfit:wght@100..900&family=Prata&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Sanchez:ital@0;1&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit", serif;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navLink {
  @apply flex flex-col items-center gap-1 transition-all duration-300;
}

.beneath {
  @apply w-2/4 border-none h-[1.5px] bg-gray-700 opacity-0 transition-all duration-500;
}

a.active .beneath,
a:hover .beneath {
  @apply opacity-100;
}

.navLink p {
  @apply transition-all duration-300;
}

a.active p,
a:hover p{
    transform: scale(1.1);
    @apply font-extrabold;
}

